:root {
    --color: white;
    --theme-color: #686ac8;
}

.mobile {
    display: none;
}

ul li {
    list-style: none;
}

.desktop,
.mobile {
	float: right;
	margin-top: 19px;
}

.logo {
    float: left;
    color: var(--color);
	padding-left: 0;
	font-size: 28px;
}

.logo li {
    float: left;
}

header {
    overflow: auto;
}

.desktop li {
    float: left;
}

.mobile a,
.desktop a {
    text-decoration: none;
    padding: 8px 20px;
    color: var(--color);
}

.mobile a:hover,
.desktop a:hover {
    color: var(--theme-color);
    background: var(--color);
}

body {
    background: var(--theme-color);
    width: 73%;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

article {
    margin: 100px auto;
	overflow: auto;
	
	color: var(--color);
}

article section:first-child {
    float: left;
    width: 50%;
}

article section:last-child {
    float: right;
    width: 50%;
}

section:last-child img {
	width: 80%;
	float: right;
}
article a{
	padding: 8px 20px;
	color: var(--color);
	background: var(--theme-color);
	border: 1px solid var(--color);
	text-decoration: none;
}

article a:hover{
	color: var(--theme-color);
	background: var(--color);
}
article h1{
	font-size: 50px;
}
article p{
	line-height: 32px;
}
@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}